// Colors
$nred: #e61c42;
$ngray: #9B9B9B;
$nblack: #4A4A4A;
$nblue: linear-gradient(90deg, #1177f3 0%, #0d59b6 100%);
$nyellow: yellow;
$bluegrad: linear-gradient(-137deg, rgba(35,206,247,0.77) 0%, #6C8FBB 100%);
$font: BebasNeue;
$fa-font-path:          '~font-awesome/fonts';
$serif: 'Roboto Slab', serif;

/*Fonts*/


.bebas {
  font-family: BebasNeue;
  letter-spacing: .67px;
}

.xs-bebas {
  @extend .bebas;
  font-size: 2rem;
}
.sm-bebas {
  @extend .bebas;
  font-size: 3rem;
}
.md-bebas {
  @extend .bebas;
  font-size: 4rem;
}

.nav-pack {
  margin: auto;
  font-family: $serif;
  font-size: 2rem;
  color: #fff;
  z-index: 100;
  text-decoration: none;
    &:hover, &:active, &focus{
      color: $nyellow;
      text-decoration: none;
    }
}


.big-boy-font {
  font-family: $font;
  font-size: 1.5rem;
}
