.content-info{
  background: $nblack;
  padding: 15% 0;
}
.footer-right h3 {
  @extend .sm-bebas;
}
.footer-right {
  background-image: linear-gradient(-180deg, #FFFFFF 0%, #F4F1F1 100%);
  box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.08);
  padding: 40px;
  font-family: 'Roboto Slab', serif;
  font-size: 1.2rem;
}
textarea,
input {
  width: 100%;
  box-shadow: inset 0 0 1px 0 rgba(0,0,0,0.10);
}
.wpcf7-submit {
  font-family: 'Roboto Slab', serif;
  font-size: 1.2rem;
  color: #1380F2;
}
.wpcf7-form p label{
  width: 100%;
}
