.front-hero {
  height: 70vh;
  padding: 5vh 0;
  overflow: hidden;
  background-image: linear-gradient(120deg, #bccdd1 0%, #6fccdd 100%);
}

.hero-content {
  position: fixed;
  width: 100%;
}

.hero-content h1 {
  @extend .big-boy-font;
  color: $nb-gray;
}

.howdy {
  @extend .big-boy-font;
  font-size: 8rem;
  color: $nb-red;

}
.welcome-text{
  width: 100%;
  margin: auto;
}


.myname {
  font-family: $font;
  font-size: 2.5rem;
  color: #fff;
}

.entry-title a {
  font-family: $font;
  font-size: 1.5rem;
  color: lighten($nb-gray, 30%);
}
.latest-posts h2 {
  padding: 0 30px;
}

.nichoody {
  height: 60vh;
  min-height:350px;
  background: url('../images/nichoody.png') no-repeat center;
  background-size: contain;
  margin-top: -3vh;
}

@include media-breakpoint-down(sm) {
  .front-hero {
    height: 100vh;
  }
  .nichoody {
    margin-top: 12vh;
  }
}
@include media-breakpoint-only(lg) {
  .nichoody {
    margin-top: -3vh;
  }
}
@include media-breakpoint-only(xl) {
  .nichoody {
    margin-top: -10vh;
  }
}
