.banner {
  position: absolute;
  z-index: 1;
  width: 100%;
  }


  .nav-primary {
    display: inline-block;
  }

  /*.navbar-brand {
        background: url('../images/nicboveelogo-04.png') no-repeat center;
        background-size: contain;
        width: 200px;
        &:hover {color:rgba(255, 255, 255, 0);}
  }*/

  .navbar-toggler-icon {
    background-color: lighten($red, 20%);
    color: white;
  }


  .menu-sidebar-menu-container {
    line-height: 2.5;
  }

/*For closed nav menu*/

.collapsed {
  .navbar-toggler-icon {
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

  }
  .nav-line {
    width:60%;
    height:2px;
    background-color:white;
  }

}
nav .navbar-toggleable-md {
  width: 100%;
}
.menu-sidebar-menu-container {
  margin: auto;
}
.navbar-collapse.collapse.show {
  background: $nred;
  transition: all 0.1s ease-in-out;
}

/*For open nav menu*/
.navbar-toggler {
  .navbar-toggler-icon {
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

  }

  .nav-line {
    width:60%;
    height:2px;
    background-color:white;
  }

}

.menu-item a {
  @extend .nav-pack;
  margin: 0 15px;
}

.nav-link {
  @extend .menu-item;
}
.nav-link {
  @extend .nav-link;
  @extend .nav-pack;
}

.single-banner {
  background: $red;
}
