/* Home Page */
.type-post {
  background: #fff;
  margin-top: 20px;
  padding: 5%;
  padding-left:60px;
}

/* Archive Post Navigation */
.nav-previous a,
.nav-next a {
  @include nb-btn($nb-blue, #fff);
}

.nav-links {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

@include media-breakpoint-only(xs) {
  .type-post {
    background: #fff;
    margin-top: 50px;
    padding: 0;
    padding-left:0;
  }

}
