@font-face {
    font-family: 'Bebas';
    src: url('../fonts/BEBAS___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoSlab';
    src: url('../fonts/RobotoSlab-Bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
