@mixin nb-btn($color,$text-color) {
  @extend .xs-bebas;
  color: $text-color;
  padding: 12px;
  border-radius: 4px;
  background: $color;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: all 0.2s ease-in-out;
  &:hover {
    background: $color;
    color: $text-color;
    text-decoration: none;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);

  }
}
