.floater-post {
  margin: 15px;
  padding: 15px;
  background: #FFFFFF;
  box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.08);
}

.entry-title a{
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #9B9B9B;
}

img.size-medium {
  width: 100%;
  height: auto;
  margin: auto;
  max-width: 100%;
}

.img-container{
  height: 200px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 25px;
}

p {
  font-family: 'Alegreya Sans', sans-serif;
}

.updated,
.author {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: .7rem;
}
